node-red/basic-labs/visual-recognition/visual-recognition-sampleflow.json
[{"id":"b47a6d4a.69a478","type":"comment","z":"8df7c3c9.81286","name":"Link to the Lab instructions (to come)","info":"See corresponding Lab instructions in the link below :\n\n[Watson Visual Recognition](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition_v3)\n","x":155,"y":29,"wires":[]},{"id":"14216249.919ce6","type":"comment","z":"8df7c3c9.81286","name":"Configure VR v3 nodes with the API Key !","info":"No Binding with Bluemix app is currently available for Watson Visual Recognition v3 service.\nThe API Key is available in the Bluemix Console in the Credentials section of the service detail.","x":710.5000076293945,"y":29,"wires":[]},{"id":"b5bb9cca.314388","type":"inject","z":"8df7c3c9.81286","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":80.5,"y":67.50000095367432,"wires":[["80dbb6d5.e3c2a"]]},{"id":"80dbb6d5.e3c2a","type":"visual-recognition-v3","z":"8df7c3c9.81286","name":"Classify an image","apikey":"","image-feature":"classifyImage","x":474.5,"y":66.50000095367432,"wires":[["c4173410.87a9d8"]]},{"id":"6778819c.3e0b98","type":"inject","z":"8df7c3c9.81286","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/5.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":183.50000095367432,"wires":[["b17c9187.341888"]]},{"id":"b17c9187.341888","type":"visual-recognition-v3","z":"8df7c3c9.81286","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":459,"y":181.50000095367432,"wires":[["c4173410.87a9d8"]]},{"id":"1d7e0960.623967","type":"visual-recognition-v3","z":"8df7c3c9.81286","name":"Detect Faces","apikey":"","image-feature":"detectFaces","x":466.5,"y":256.5000009536743,"wires":[["c4173410.87a9d8"]]},{"id":"b1e575be.b7c6b8","type":"inject","z":"8df7c3c9.81286","name":"URL","topic":"","payload":"https://raw.githubusercontent.com/ylecleach/labs/master/node-red/basic-labs/visual-recognition/faces-1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":256.5000009536743,"wires":[["1d7e0960.623967"]]},{"id":"c4173410.87a9d8","type":"debug","z":"8df7c3c9.81286","name":"","active":true,"console":"true","complete":"result","x":784.5,"y":112.50000095367432,"wires":[]},{"id":"33a8bf00.0aabb2","type":"inject","z":"8df7c3c9.81286","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.5,"y":106.50000095367432,"wires":[["7775242f.ce9b9c"]]},{"id":"7775242f.ce9b9c","type":"http request","z":"8df7c3c9.81286","name":"","method":"GET","ret":"bin","url":"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","x":264.5,"y":107.50000095367432,"wires":[["80dbb6d5.e3c2a"]]},{"id":"b2164a66.060f","type":"inject","z":"8df7c3c9.81286","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":146.50000095367432,"wires":[["455df41e.77e734"]]},{"id":"100dfe0d.d9e2ea","type":"inject","z":"8df7c3c9.81286","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":292.5000009536743,"wires":[["123708b9.218627"]]},{"id":"44373044.948b7","type":"inject","z":"8df7c3c9.81286","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":218.50000095367432,"wires":[["814d1c68.69c8"]]},{"id":"19576e23.a84d6a","type":"inject","z":"8df7c3c9.81286","name":"caricature test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.75000381469727,"y":340.25001525878906,"wires":[["35f4a44d.2faf9c"]]},{"id":"983fc363.bd5bc","type":"visual-recognition-v3","z":"8df7c3c9.81286","name":"Classify an image","apikey":"","image-feature":"classifyImage","x":485,"y":339.5,"wires":[["36b3186a.bbb1b"]]},{"id":"36b3186a.bbb1b","type":"debug","z":"8df7c3c9.81286","name":"","active":true,"console":"false","complete":"result","x":693.1250038146973,"y":361.50001525878906,"wires":[]},{"id":"224ce92e.53a62e","type":"comment","z":"8df7c3c9.81286","name":"Samples Files (click me)","info":"Here is the link where you can download all the sample files used in this sample flow :\n[Watson Visual Recognition v3 Sample Files](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition/sample_files)","x":423.12501525878906,"y":29,"wires":[]},{"id":"455df41e.77e734","type":"http request","z":"8df7c3c9.81286","name":"lego-2","method":"GET","ret":"bin","url":"https://raw.githubusercontent.com/ylecleach/labs/master/node-red/basic-labs/visual-recognition/lego-2.jpg","tls":"","x":250,"y":146,"wires":[["80dbb6d5.e3c2a"]]},{"id":"814d1c68.69c8","type":"http request","z":"8df7c3c9.81286","name":"text-5","method":"GET","ret":"bin","url":"https://raw.githubusercontent.com/ylecleach/labs/master/node-red/basic-labs/visual-recognition/text-5.jpg","tls":"","x":252,"y":219,"wires":[["b17c9187.341888"]]},{"id":"123708b9.218627","type":"http request","z":"8df7c3c9.81286","name":"Whoopy Golberg","method":"GET","ret":"bin","url":"https://raw.githubusercontent.com/ylecleach/labs/master/node-red/basic-labs/visual-recognition/faces-1.jpg","tls":"","x":286,"y":292,"wires":[["1d7e0960.623967"]]},{"id":"35f4a44d.2faf9c","type":"http request","z":"8df7c3c9.81286","name":"Caricature Devoxx","method":"GET","ret":"bin","url":"https://raw.githubusercontent.com/ylecleach/labs/master/node-red/basic-labs/visual-recognition/caricature-devoxx-france-2016.jpg","tls":"","x":283,"y":340,"wires":[["983fc363.bd5bc"]]}]
